$Light: #f8f8f8;

// --------

$White: #f8f8f8;

$LightGrey: #c7c7c7;
$Grey: #555555;
$DarkGrey: #272727;

$LightBlue: #219ebc;
$Blue: #8ecae6;
$DarkBlue: #023047;

$LightGreen: #90a955;
$Green: #6a994e;
$DarkGreen: #386641;

$LightOrange: #f77f00;
$Orange: #ca6702;
$DarkOrange: #fb5607;

$LightRed: #d00000;
$Red: #9d0208;
$DarkRed: #6a040f;

$LightYellow: #ffaa00;
$Yellow: #ff9e00;
$DarkYellow: #ff9100;

$Pink: #c9184a;
$DarkPink: #a4133c;

$LightPurple: #f7aef8;
$Purple: #fdc5f5;
$DarkPurple: #b388eb;