@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"),
    url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

* {
  @apply text-dark dark:text-light
    bg-light dark:bg-dark;

  font-family: "Roboto";
}
